<app-header></app-header>
<button (click)="addTodo()">Agregar todo</button>
<div class="todo-container">
  <!-- @for (item of (todos |async)?.data; track $index) { -->
  @for (item of todos.data; track $index) {
  <app-todo 
  [todoData]="item"
  (onClickIcon)="deleteTodo($event)"
  >
  <!-- <textarea rows="10" [(ngModel)]="item.description" (blur)="updateTodo(item)"></textarea> -->
  <textarea rows="10" [(ngModel)]="item.description" (blur)="updateTodo(item)"></textarea>
  </app-todo>
}
</div>


<!-- <br> <br>
<div class="todo-container">
  <app-todo 
  class="orange-color"
  [todoData]="todos[0]"
  (onClickIcon)="getTodoInfo($event)"
  >
  </app-todo>
</div>
<br> <br> -->
<!-- <div class="card-container">
card-container
</div> -->
<router-outlet />



